* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.container {
  padding-left: 34px;
  padding-right: 34px;
}

header {
  height: 60px;
  -webkit-box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

header > * {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  width: 26px;
}

.logo img {
  height: 100%;
}

.hero > * {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
}

.hero .description {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
}

.hero .description a {
  color: tomato;
  text-decoration: none;
}

.hero .description a:hover {
  text-decoration: underline;
}

.cards .card {
  margin-top: 24px;
  background: rgb(255, 255, 255);
  border: 2px solid #040608;
  border-radius: 5px;
  -webkit-box-shadow: 14px 14px rgb(210, 239, 253);
  -moz-box-shadow: 14px 14px rgb(210, 239, 253);
  box-shadow: 14px 14px rgb(210, 239, 253);
  font-size: 18px;
  cursor: pointer;
  transition: 90ms transform ease-in;
}

.cards .card:hover {
  transform: translateY(-4px);
}

.cards .card a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.cards .card img {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.cards .card .title {
  display: block;
  padding: 14px 0;
  text-align: center;
  font-size: inherit;
  font-weight: 700;
}

.cards .card .card-footer {
  display: flex;
  width: 100%;
  padding: 14px;
  font-size: 13px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero > * {
    font-size: 34px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 22px;
  }
}
