/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
	background-color: #f95456;
  height: 100vh;
  position: relative;
}

:root {
  --speed: 600ms;
}

.container {
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.8rem;
  margin-left: -20rem;
  display: flex;
  justify-content: center;
}

.container .ball {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: rgba(255,255,255, .42);
  margin: 0 1px;
}

.container .ball:first-child {
  -webkit-animation: first var(--speed) infinite alternate ease-in; /* Safari 4+ */
  -moz-animation: first var(--speed) infinite alternate ease-in; /* Fx 5+ */
  -o-animation: first var(-speed) infinite alternate ease-in; /* Opera 12+ */
  animation: first var(--speed) infinite alternate ease-in; /* IE 10+, Fx 29+ */
}

.container .ball:last-child {
  -webkit-animation: last var(--speed) infinite alternate ease-out; /* Safari 4+ */
  -moz-animation: last var(--speed) infinite alternate ease-out; /* Fx 5+ */
  -o-animation: last var(--speed) infinite alternate ease-out; /* Opera 12+ */
  animation: last var(--speed) infinite alternate ease-out; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes first {
  0%   { transform: translate(-7rem, -6rem) }
  50%, 100% { transform: translate(0, 0) }
}
@-moz-keyframes first {
  0%   { transform: translate(-7rem, -6rem) }
  50%, 100% { transform: translate(0, 0) }
}
@-o-keyframes first {
  0%   { transform: translate(-7rem, -6rem) }
  50%, 100% { transform: translate(0, 0) }
}
@keyframes first {
  0%   { transform: translate(-7rem, -6rem) }
  50%, 100% { transform: translate(0, 0) }
}

@-webkit-keyframes last {
  0%, 50% { transform: translate(0, 0) }
  100% { transform: translate(7rem, -6rem) }
}
@-moz-keyframes last {
  0%, 50% { transform: translate(0, 0) }
  100% { transform: translate(7rem, -6rem) }
}
@-o-keyframes last {
  0%, 50% { transform: translate(0, 0) }
  100% { transform: translate(7rem, -6rem) }
}
@keyframes last {
  0%, 50% { transform: translate(0, 0) }
  100% { transform: translate(7rem, -6rem) }
}

